h1{
    font-family: 'Space Mono';
    font-size: 64px;
    font-weight:bolder;
}

p{
    font-family: 'Space Mono';
    font-size: 24px;
    color: #4F4F4F;
    margin-bottom: 3rem;
    font-weight: 400;
}

button{
   
        font-family: 'Space Mono';
        font-size: 14px;
        background-color: #333333;
        color: white;
        text-align: center;
        width: 200px;
        height: 60px;
        font-weight:300;
}

h5{
    font-family: 'Inconsolata';
    font-size: 24px;
    margin-left: 40px;
    margin-top: 25px;
    
}

img{
    max-width: 80%;
    max-height:50%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    margin-left: 30px;
    margin-right: 40px;
}

.footer{
    position: fixed;
    left:10px;
    bottom:30px;
    right:10px;
    color:#BDBDBD;
    font-family: 'Montserrat';
    font-weight:400;
    text-align: center;
    font-size:smaller;   
}
a{
    color:#BDBDBD;
    font-weight: 800;
}

@media (max-width:1200px){
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


@media (max-width:480px){

h1{
    font-size: 40px;
    text-align:left;
   
}

p{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align:left;
    
}



.container{
    display:inline-block;
    vertical-align:middle;
    padding-top: 20px;
    margin-left: 10px;
}

.image{
    display: flex;
    justify-content: center;
   
}

h5{
    margin-left: 10px;
    margin-top: 20px;
}


}
